In [1]:
# import dependencies
import pandas as pd

In [8]:
# read in all csvs
d1 = "resources/10308_fuel_use_veh_type_3-25-20.csv"
d2 = "resources/epa_transport_data.csv"
d3 = "resources/table_01_11_053019.csv"
d4 = "resources/table_01_19_120419.csv"

In [14]:
# build base dataframes
df1 = pd.read_csv(d1)
df2 = pd.read_csv(d2)
df3 = pd.read_csv(d3)
df4 = pd.read_csv(d4)

,Unnamed: 0,(R) 2000,(R) 2001,(R) 2002,(R) 2003,(R) 2004,(R) 2005,(R) 2006,(R) 2007,(R) 2008,(R) 2009,(R) 2010,(R) 2011,(R) 2012,(R) 2013,(R) 2014,(R) 2015,(R) 2016,(R) 2017,2018
0,Hybrid electric,"9,400","20,300","36,000","47,600","84,200","205,900","251,900","351,100","315,800","290,300","274,600","266,500","434,600","495,500","452,200","384,400","346,900","362,900","343,200"
1,Plug-in hybrid-electric,Z,Z,Z,Z,Z,Z,Z,Z,Z,Z,300,"7,700","38,600","49,000","55,400","43,000","72,900","91,100","122,800"
2,Electric,Z,Z,Z,Z,Z,Z,Z,Z,Z,Z,Z,"10,100","14,600","48,100","63,500","71,100","86,700","104,400","238,800"

In [16]:
# df1 first round cleanup
del df1["Source"]
df1

,Vehicle Type,MPG Gasoline,MPG Diesel,VMT,Annual Fuel Use (GGE)
0,Transit Bus,3.3,3.7,"43,647","13,329"
1,Class 8 Truck,5.3,6.0,"62,751","11,818"
2,Refuse Truck,2.5,2.8,"25,000","10,089"
3,Paratransit Shuttle,7.1,8.0,"29,429","4,157"
4,Delivery Truck,6.5,7.4,"12,435","1,899"
5,School Bus,6.2,7.0,"12,000","1,937"
6,Light Truck/Van,17.5,19.8,"11,543",660
7,Car,24.2,27.3,"11,467",474
8,Motorcycle,44.0,49.7,"2,312",53

In [17]:
# df2 first round cleanup
df2

,Transportation Sector,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Fossil fuel combustion: carbon dioxide,1469.091539,1422.473003,1477.761681,1508.719279,1553.758888,1580.488357,1627.156554,1643.289091,1678.612731,...,1685.071820,1695.489028,1670.545241,1661.144836,1674.114092,1713.722209,1725.274253,1765.306686,1787.273521,1820.656391
1,Use of fluorinated gases,0.000000,0.000000,1.168982,5.097346,12.406418,19.613489,28.373833,37.426521,43.762914,...,71.064975,68.062052,62.433824,57.124682,51.583412,48.753877,46.336493,43.298742,40.139715,38.460744
2,Fossil fuel combustion: other greenhouse gases,46.140974,47.863303,50.802392,52.707453,54.496449,55.931813,57.006215,57.713291,57.868160,...,28.292233,27.100120,25.673659,23.054363,21.066477,19.098210,17.681899,16.618121,15.346965,14.172746
3,Other transportation categories,11.838675,10.590906,10.797881,10.995035,11.491990,11.294702,10.961335,11.579435,12.121996,...,8.547053,10.410837,9.980272,9.108246,9.643206,10.046798,10.951447,10.383056,9.550649,9.267732
4,Total,1527.071188,1480.927212,1540.530936,1577.519112,1632.153745,1667.328361,1723.497937,1750.008339,1792.365801,...,1792.976080,1801.062036,1768.632996,1750.432127,1756.407187,1791.621093,1800.244091,1835.606604,1852.310850,1882.557612