In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read in all csvs
d1 = "resources/10308_fuel_use_veh_type_3-25-20.csv"
d2 = "resources/epa_transport_data.csv"
d3 = "resources/table_01_11_053019.csv"
d4 = "resources/table_01_19_120419.csv"

In [3]:
# build base dataframes
df1 = pd.read_csv(d1)
df2 = pd.read_csv(d2)
df3 = pd.read_csv(d3)
df4 = pd.read_csv(d4)

In [4]:
# df1 first round cleanup
del df1["Source"]
new_names1 = ['vehicle_type',
'mpg_gasoline',
'mpg_diesel',
'vmt',
'annual_fuel_use_gge']
df1.columns = new_names1
df1['vmt'] = df1.vmt.replace(',','', regex=True).astype('int64')
df1['annual_fuel_use_gge'] = df1.annual_fuel_use_gge.replace(',','', regex=True).astype('int64')
df1

          vehicle_type  mpg_gasoline  mpg_diesel    vmt  annual_fuel_use_gge
0          Transit Bus           3.3         3.7  43647                13329
1        Class 8 Truck           5.3         6.0  62751                11818
2         Refuse Truck           2.5         2.8  25000                10089
3  Paratransit Shuttle           7.1         8.0  29429                 4157
4       Delivery Truck           6.5         7.4  12435                 1899
5           School Bus           6.2         7.0  12000                 1937
6      Light Truck/Van          17.5        19.8  11543                  660
7                  Car          24.2        27.3  11467                  474
8           Motorcycle          44.0        49.7   2312                   53

In [5]:
# df2 first round cleanup
years = []
for i in range(0,7):
    year=(2000+i)
    years.append(str(year))
df2 = df2.rename(columns={"Transportation Sector":"Type"})
df2 = df2.set_index("Type")
df2 = df2[years]
df2 = df2.drop("Total")
df2 = df2.transpose()
df2 = df2.reset_index()
new_names2 = ['year',
'fossil_fuel_combustion:_carbon_dioxide',
'use_of_fluorinated_gases',
'fossil_fuel_combustion:_other_greenhouse_gases',
'other_transportation_categories']
df2.columns = new_names2
df2['year'] = df2.year.astype('int64')
df2

,year,fossil_fuel_combustion:_carbon_dioxide,use_of_fluorinated_gases,fossil_fuel_combustion:_other_greenhouse_gases,other_transportation_categories
0,2000,1779.394341,56.180975,53.591355,12.065090
1,2001,1758.433429,62.011726,50.283191,11.054296
2,2002,1799.859328,64.484809,47.948862,10.923330
3,2003,1792.528516,66.198738,45.367338,10.098794
4,2004,1837.152810,68.165039,42.595281,10.231172
5,2005,1856.113443,69.268511,37.860710,10.177696
6,2006,1852.744564,70.316256,36.838568,9.915832

In [6]:
# df3 first round cleanup
years = []
for i in range(0,7):
    year=(2000+i)
    years.append(str(year))
df3 = df3.rename(columns={"Unnamed: 0":"Type"})
df3 = df3.set_index("Type")
df3 = df3[years]
df3 = df3.dropna(how="any")
df3 = df3.drop(['Light duty vehicle, short wheel basec', 'Light duty vehicle, long wheel basec'])
df3 = df3.transpose()
df3 = df3.reset_index()
new_names3 = ['year','air_carrier',
 'general_aviation_active_fleet',
 'highway_total_registered_vehicles',
 'passenger_cars',
 'motorcycle',
 'other_2-axle_4-tire_vehicles',
 'truck_single-unit_2-axle_6-tire_or_more',
 'truck_combinationd',
 'bus',
 'motor_bus',
 'light_rail_cars',
 'heavy_rail_cars',
 'trolley_bus',
 'commuter_rail_cars_and_locomotives',
 'demand_responsive',
 'other',
 'class_I_freight_cars',
 'class_I_locomotive',
 'nonclass_I_freight_cars',
 'car_companies_and_shippers_freight_cars',
 'amtrak_passenger_train_car',
 'amtrak_locomotive',
 'nonself-propelled_vessels',
 'self-propelled_vessels',
 'oceangoing_self-propelled_vessels_1000_gross_tons_and_over',
 'recreational_boats']
df3.columns = new_names3
df3 = df3.replace(',','', regex=True).astype('int64')
df3

,year,air_carrier,general_aviation_active_fleet,highway_total_registered_vehicles,passenger_cars,motorcycle,other_2-axle_4-tire_vehicles,truck_single-unit_2-axle_6-tire_or_more,truck_combinationd,bus,...,class_I_freight_cars,class_I_locomotive,nonclass_I_freight_cars,car_companies_and_shippers_freight_cars,amtrak_passenger_train_car,amtrak_locomotive,nonself-propelled_vessels,self-propelled_vessels,oceangoing_self-propelled_vessels_1000_gross_tons_and_over,recreational_boats
0,2000,7826,217533,225821241,133621420,4346068,79084979,5926030,2096619,746125,...,560154,20028,132448,688194,1894,378,31360,8202,282,12782143
1,2001,7746,211446,235331382,137633467,4903056,84187636,5703501,2154174,749548,...,499860,19745,125470,688806,2084,401,33042,8546,274,12876346
2,2002,7673,211244,234624135,135920677,5004156,85011305,5650619,2276661,760717,...,477751,20506,130590,691329,2896,372,32381,8621,261,12854054
3,2003,7564,209708,236760033,135669897,5370035,87186663,5848523,1908365,776550,...,467063,20774,124580,687337,1623,442,31335,8648,246,12794616
4,2004,7764,219426,243010550,136430651,5767934,91845327,6161028,2010335,795274,...,473773,22015,120169,693978,1211,276,31296,8994,233,12781476
5,2005,7686,224352,247421120,136568083,6227146,95336839,6395240,2086759,807053,...,474839,22779,120195,717211,1186,258,33152,8976,231,12942414
6,2006,7637,221943,250844644,135399945,6678958,99124775,6649337,2169670,821959,...,475415,23732,120688,750404,1191,319,32211,8898,229,12746126

In [7]:
# df4 first round cleanup
df4 = df4.rename(columns={"Unnamed: 0":"Type","(R) 2000":"2000","(R) 2001":"2001","(R) 2002":"2002","(R) 2003":"2003","(R) 2004":"2004","(R) 2005":"2005","(R) 2006":"2006","(R) 2007":"2007","(R) 2008":"2008","(R) 2009":"2009","(R) 2010":"2010","(R) 2011":"2011","(R) 2012":"2012","(R) 2013":"2013","(R) 2014":"2014","(R) 2015":"2015","(R) 2016":"2016","(R) 2017":"2017"})
df4 = df4.set_index("Type")
df4 = df4.replace("Z",0)
df4 = df4.transpose()
df4 = df4.reset_index()
new_names4 = ['year',
'hybrid_electric',
'plug-in_hybrid-electric',
'electric']
df4.columns = new_names4
df4 = df4.replace(',','', regex=True).astype('int64')
df4

    year  hybrid_electric  plug-in_hybrid-electric  electric
0   2000             9400                        0         0
1   2001            20300                        0         0
2   2002            36000                        0         0
3   2003            47600                        0         0
4   2004            84200                        0         0
5   2005           205900                        0         0
6   2006           251900                        0         0
7   2007           351100                        0         0
8   2008           315800                        0         0
9   2009           290300                        0         0
10  2010           274600                      300         0
11  2011           266500                     7700     10100
12  2012           434600                    38600     14600
13  2013           495500                    49000     48100
14  2014           452200                    55400     63500
15  2015           384400                    43000     71100
16  2016           346900                    72900     86700
17  2017           362900                    91100    104400
18  2018           343200                   122800    238800

In [8]:
# create database connection
connection_string = "postgres:postgres@localhost:5432/emission_df"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
# Confirm tables
engine.table_names()

['green_vehicles', 'fuel_usage', 'trans_emission_types', 'vehicle_count']

In [10]:
df1.to_sql(name='fuel_usage', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pk_fuel_usage"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO fuel_usage (index, vehicle_type, mpg_gasoline, mpg_diesel, vmt, annual_fuel_use_gge) VALUES (%(index)s, %(vehicle_type)s, %(mpg_gasoline)s, %(mpg_diesel)s, %(vmt)s, %(annual_fuel_use_gge)s)]
[parameters: ({'index': 0, 'vehicle_type': 'Transit Bus', 'mpg_gasoline': 3.3, 'mpg_diesel': 3.7, 'vmt': 43647, 'annual_fuel_use_gge': 13329}, {'index': 1, 'vehicle_type': 'Class 8 Truck', 'mpg_gasoline': 5.3, 'mpg_diesel': 6.0, 'vmt': 62751, 'annual_fuel_use_gge': 11818}, {'index': 2, 'vehicle_type': 'Refuse Truck', 'mpg_gasoline': 2.5, 'mpg_diesel': 2.8, 'vmt': 25000, 'annual_fuel_use_gge': 10089}, {'index': 3, 'vehicle_type': 'Paratransit Shuttle', 'mpg_gasoline': 7.1, 'mpg_diesel': 8.0, 'vmt': 29429, 'annual_fuel_use_gge': 4157}, {'index': 4, 'vehicle_type': 'Delivery Truck', 'mpg_gasoline': 6.5, 'mpg_diesel': 7.4, 'vmt': 12435, 'annual_fuel_use_gge': 1899}, {'index': 5, 'vehicle_type': 'School Bus', 'mpg_gasoline': 6.2, 'mpg_diesel': 7.0, 'vmt': 12000, 'annual_fuel_use_gge': 1937}, {'index': 6, 'vehicle_type': 'Light Truck/Van', 'mpg_gasoline': 17.5, 'mpg_diesel': 19.8, 'vmt': 11543, 'annual_fuel_use_gge': 660}, {'index': 7, 'vehicle_type': 'Car', 'mpg_gasoline': 24.2, 'mpg_diesel': 27.3, 'vmt': 11467, 'annual_fuel_use_gge': 474}, {'index': 8, 'vehicle_type': 'Motorcycle', 'mpg_gasoline': 44.0, 'mpg_diesel': 49.7, 'vmt': 2312, 'annual_fuel_use_gge': 53})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [11]:
df2.to_sql(name='trans_emission_types', con=engine, if_exists='append', index=True)

In [12]:
df3.to_sql(name='vehicle_count', con=engine, if_exists='append', index=True)

In [13]:
df4.to_sql(name='green_vehicles', con=engine, if_exists='append', index=True)